{% load static %}


{% block content %}
<article class="showFlashcards">
    <h4 class="question">{{ card.question }}</h4>
    {% if not check_card %}
        <p class="answer"><strong>Answer: {{ card.answer }}</strong></p>
        <p><a href="{% url 'card-edit' pk=card.pk %}" >
        <button class="edit_buttons">EDIT/MOVE CARD</button>
        </a></p>
        <p><a href="{% url 'delete-card' pk=card.pk %}" onclick="if (!confirm('Are you sure?')) { return false }"><button class="edit_buttons">DELETE CARD</button>
        </a></p>
    {% else %}
        <details>
            <summary class="show-answer"><u>Show Answer</u></summary>
            <p class="answer"><strong>{{ card.answer }}</strong></p>
        </details>
        <hr>
        <p style="font-style: italic;"">Did you get the answer correct?</p>
        {% include "flashcards/card_check_form.html" with solved=True %}
        {% include "flashcards/card_check_form.html" with solved=False %}
    {% endif %}
</article>  

{% endblock content %}
