{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}

    <h2>Cards</h2>
    <p><a href="{% url 'card-create' %}" class="Create-button">
    <button>Create New Card</button></a></p>
    
        {% for card in cards %}
            {% ifchanged %}
                <H4> 🎁 {{ card.box | ordinal }} Box</H4>
            {% endifchanged %}
            <div class="container">
                {% include "flashcards/card.html" %}
            </div>
        {% endfor %}
    
    

{% endblock content %}