{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}

    <h2>Cards</h2>
    <p><a href="{% url 'card-create' %}" class="Create-button">
    <button class="edit_buttons">Create New Card</button></a></p>
    
        {% for card in cards %}
            {% ifchanged %}
                <H4 class="box-list"> 🗳 {{ card.box | ordinal }} Box</H4>
            {% endifchanged %}
            <p>Hi {{ user.username }}</p>
            <div class="container">
                {% include "flashcards/card.html" %}
            </div>
            
        {% endfor %}
    
    

{% endblock content %}