{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <h2>Hi {{ user.username }}</h2>
    <p>Here are your flashcards for you to Review, Edit, or Delete</p>
    <p>Test yourself by clicking on the 🗳boxes above </p>
    <hr>
    <a href="{% url 'card-create' %}">
    <button class="edit_buttons">Create New Card</button></a>
    {% for card in cards %}
        {% ifchanged %}
            <H4 class="box-list"> 🗳 {{ card.box | ordinal }} Box</H4>
        {% endifchanged %}
                <div class="container">
                    {% include "flashcards/card.html" %}
                </div>
    {% endfor %}
    
    

{% endblock content %}